<?xml version="1.0" encoding="UTF-8"?>
<!-- WebApp_ID -->
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID"
    version="2.5">
	<display-name>MyUpload</display-name>
	<jsp-config>
		<taglib>
	      <taglib-uri>/WEB-INF/tags/username.tld</taglib-uri>
	      <taglib-location>/WEB-INF/tags/username.tld</taglib-location>
	    </taglib>
	    <taglib>
	      <taglib-uri>/WEB-INF/tags/datectrl.tld</taglib-uri>
	      <taglib-location>/WEB-INF/tags/datectrl.tld</taglib-location>
	    </taglib>
		<taglib>
	      <taglib-uri>/WEB-INF/tags/bookname.tld</taglib-uri>
	      <taglib-location>/WEB-INF/tags/bookname.tld</taglib-location>
	    </taglib>
		<taglib>
	      <taglib-uri>/WEB-INF/tags/booktype.tld</taglib-uri>
	      <taglib-location>/WEB-INF/tags/booktype.tld</taglib-location>
	    </taglib>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/tld/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/struts-nested.tld</taglib-location>
		</taglib>
	</jsp-config>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>stringfilter</filter-name>
		<filter-class>com.dinesh.piloting.struts.tools.StringFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>stringfilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
