<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    	
    	<bean id = "registerAction" class = "com.user.action.RegisterAction" scope = "prototype">
			  <property name="userServiceImpl" ref = "userServiceImpl"/>
		</bean>
		<bean id = "userLoginAction" class = "com.user.action.UserLoginAction" scope = "prototype">		
		   <property name="userServiceImpl" ref = "userServiceImpl"/>
		</bean>
		<bean id = "userViewBooks" class = "com.user.action.UserViewBooksAction" scope = "prototype">		
		   <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		</bean>
		<bean id = "userQueryByBookName"  class = "com.user.action.UserViewBooksAction" scope = "prototype">		     
		   <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		</bean>
		<bean id = "userQueryByBookType"  class = "com.user.action.UserViewBooksAction" scope = "prototype">		    
		   <property name="bookServiceImpl" ref = "bookServiceImpl"/>		    
		</bean>
		<bean id = "userViewBooksDetail" class = "com.user.action.UserViewBooksDetailAction" scope = "prototype">
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>
		</bean>
		<bean id = "viewCart" class = "com.user.action.CartAction" scope = "prototype">
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
	    <bean id = "updateBookQuantity" class = "com.user.action.UpdateBookQuantityAction" scope = "prototype">
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
		<bean id = "cancelOder" class = "com.user.action.CancelOderAction" scope = "prototype">
		    <property name="bookServiceImpl" ref = "bookServiceImpl"/>	
		</bean>
		<bean id = "addOrder" class = "com.user.action.AddOrderAction" scope = "prototype">	        
	        <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	 	</bean>
     	<bean id = "userQueryAllOrder" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	        <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	    </bean>
	    <bean id = "userQueryOrderDetail" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	        <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	    </bean>
	    <bean id = "userDeleteUnProcessOrder" class = "com.user.action.UserManagerOrderAction" scope = "prototype">
	        <property name="orderManagerServiceImpl" ref = "orderManagerServiceImpl"/>
	    </bean>
	    <bean id = "updateUserInfoForm" class = "com.user.action.UserInfoManagerAction" scope = "prototype" >
		    <property name="userServiceImpl" ref = "userServiceImpl"/>
		</bean>
</beans>
