body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
	    
}

#menu {
    padding: 1px;
}
    
#menu ul {
    list-style-type: none;
    width: 100%;
    display: block;
    height: 33px;
    font-size: .6em;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    border: 1px solid #000;
    margin: -1px;
    padding: 0;
}

#menu li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
#menu li:hover {
    display: block;
    float: left;
    background-color: aqua;
    margin: 0;
    padding: 0;
}

#menu li a {
    float: left;
    color: #ed530c;
    text-decoration: none;
    height: 24px;
    padding: 9px 15px 0;
    font-weight: normal;
}

#menu li a:hover {
    color: #000;
    text-decoration: none;
}

.errorMessage {
	border: 1px solid;
	margin: 0px 0px;
	padding:0px 0px 0px 40px;
	background-position: 1px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url(../images/error.png);
    background-repeat: no-repeat;
}

#header { 
	background-color: #fa8328;
	background-repeat: repeat-x;
	background: -moz-linear-gradient(top, #a85b12, #fa8328);
}