body{
	font-family:"Lucida Grande", arial, sans-serif;
	background:#F3F3F3;
}

ul{
	margin:0;
	padding:0;
}

li{
	width:120px;
	height:50px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
}

a{
	color:#EA0903;
	text-decoration:none;
	font-style: italic;
}
a.menuitem{
	color:#FFF;
	text-decoration:none;
}

p{
	padding:0px 1px;
}

	.subtext{
		padding-top:1px;
		 
	}

/*Menu Color Classes*/
.green {
	background: #6AA63B;
}

.yellow {
	background: #FBC700;
}

.red {
	background: #D52100;
}

.purple {
	background: #5122B4;
}

.blue {
	background: #0292C0;
}