table {
    width: 100%;
    margin: 20px 0 20px 0;
    /*background-color: #FFFFFF;*/
}
th, td {
    padding: 3px 3px 3px 3px;
    text-align: left;
    vertical-align: middle;
    border: inherit;
    text-decoration: none;
}
th {
    background-color: #100272;
    color: #FFFFFF;
}
th a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
th.sorted a, th.sortable a {
    background-position: right;
    display: block;
    color : #FFFFFF;
}
th.sortable a {
    background-image: url(../images/arrow_off.png);
    background-repeat: no-repeat;
}
th.order1 a {
    background-image: url(../images/arrow_down.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    background-position: right center;
}
th.order2 a {
    background-image: url(../images/arrow_up.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    background-position: right center;
}
tr.odd {
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
}
tr.even {
    background-color: #EEEEEE;
    border-bottom: 1px solid #000000;
}

tr.odd:hover {
    background-color: #6495fd;
}
tr.even:hover {
    background-color: #6495fd;
}